/*
++++++++++
 Reset 
++++++++++
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*
++++++++++
Common
++++++++++
*/


body {
    background-color: black;
}


header {
    height: 40px;
}

.magic-flex {
    display: flex;
}

main {
    margin: 0 auto;
}



footer {
    height: 80px;
}

a{
    text-decoration: none;
    
}

li{
    list-style-type: none;
}

a,
li{
    color: white;
}

footer .colore-back .colors ul div,
footer .colore-back .center ul div,
footer .colore-back .close-call,
.arrow-up
{
    font-size: 12px;
}


/*
++++++++++
typo header
++++++++++
*/



header .layout-video {
    color: white;
    font-size: 12px;
    justify-content: flex-end;
    vertical-align: middle;

}


.back-text {
    background-color: rgba(163, 163, 163, 0.9);
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 5px;
    margin-right: 5px;
    padding: 3px;
}


/*
++++++++++
typo main
++++++++++
*/



main {
    height: calc(100vh - 110px);
    overflow: auto;
}

.container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 5px;
}


.box {
    height: 150px;
    width: 250px;
    position: relative;
}


.nick {
    font-size: 12px;
    background-color: rgba(180, 180, 180, 0.5);
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 3px
}



/*
++++++++++
typo footer
++++++++++
*/


footer{
    background-color: #222222
}

nav{

    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}


.audio-video{
    width: 15%;
}

.center{
    flex-grow: 1;
    justify-content: center;
}


.close-call{
    width: 10%;
}



footer .magic-flex > section,
footer .magic-flex section ul
{
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

/* 
footer nav .colore-back{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
}

footer .magic-flex .colore-back div ul li i{
    font-size: 20px;
}


.audio-video {
    padding: 0 0 0 10px;
}
*/
.close-call{
    background-color: grey;
    align-items: center;
    padding: 30px;
} 


footer nav section.close-call a{
    color: red;
}

a{
    display: flex;
    justify-content: center;
}


.arrow-up{
    margin-top: 10px;
}

.green{
    background-color: #4bc800;
}